@model shnYapi5._0.Entity.vizyon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h1>Details</h1>

<div>
    <h4>vizyon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.arz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.arz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.talep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.talep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.vizyonID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
