@model IEnumerable<shnYapi5._0.Entity.proje>


@{
    ViewData["Title"] = "Projeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card{
        box-shadow: -1px 9px 40px -12px #808080;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card mr-1 mb-1">
                    <img src="@("~/resimler/"+item.imgYol)" alt="@item.imgYol" asp-append-version="true" class="card-img-top" style="width:100%; height:250px" />
                    <div class="card-body" style="height:200px;">
                        <div class="card-title">
                            <h5>@item.projeAdi</h5>
                        </div>
                        <div class="card-text">
                            <p>@item.projeBasligi</p>
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.projeID" style="position:absolute; bottom:20px; right:20px;">Detaylı Bilgi &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

