@model IEnumerable<shnYapi5._0.Entity.phone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.phoneID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.phoneID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.phoneID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
