@model shnYapi5._0.Entity.proje

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<h1>Details</h1>

<div>
    <h4>proje</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            Resim
        </dt>
        <dd class="col-sm-12">
            <img src="@("~/resimler/"+Model.imgYol)" alt="@Model.imgYol" asp-append-version="true" class="img-thumbnail" />
        </dd>
        <dt class="col-sm-12">
            Proje Adı
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.projeAdi)
        </dd>
        <dt class="col-sm-12">
            Başlık
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.projeBasligi)
        </dd>

        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.icerik)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.icerik)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.projeID" class="btn btn-danger">Edit</a> |
    <a asp-action="List" class="btn btn-info">Back to List</a>
</div>
